body {
    font-family: "Roboto";
}

div#content {
    background-color: #f8f8f8;
    height: auto;
}
div.middle {
    background-color: white;
    margin-top: 20px;
}
div.button-menu {
    margin-top: 30px;
}

div.btn-group {
    border-radius: 3px 0px 0px 3px;
}
div.btn-group a {
    color: #3c5999;
    border: 1px solid #3c5999;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

div.btn-group a:focus {
    background-color: #3c5999;
    color: white;
}
div.picture {
    height: 255px;
}
div.picture a img {
    border-radius: 3px 0px 0px 3px;
}
div.info {
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px 0px 0px 3px;
    height: 255px;
   
}
div.user-icon {
    width: 30px;
    height: 30px;
    background-color: #3c5999;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    line-height: 15px;
    padding-top: 8px;
   
}

div.name {
    color: #3c5999;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    margin-top: 9px;
    margin-left: 5px;
}
div.title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.para {
    font-size: 13px;
    line-height: 15px;
}
div.day-post {
    margin-top: 75px;
}
div.icon-heart {
    width: 12,47px;
    height: 12px;
    color: #e0e0e0;
}
div.number-likes {
    font-size: 10px;
    line-height: 12px;
    color: #3c5999;
    margin-left: 5px;
    margin-top: 5px;
}

div.time {
    font-size: 10px;
    line-height: 12px;
    color: #bdbdbd;
    margin-top: 5px;
    margin-left: 120px;
}


